<nav>
    <h2>Mongo Scraper</h2>
    <a href="/views/index.handlebars">Home</a>
    <a href="/views/partials/saved.handlebars">Saved Articles</a>
    <button>SCRAPE NEW ARTICLES!</button>
</nav>

<header>
    <h1>Mongo Scraper</h1>
    <h2>CSS-Tricks Edition</h2>
</header>

<div id="main">
    <div id="headlines">
        <ul>
            <h2>
                {{#each headlines}}
            </h2>
        </ul>
    </div>
</div>